.slides{position:relative;overflow:hidden;}
.slides img{width:460px;height:290px;}
.slide-pic li.cur{display:block;}
.slide-li{position:absolute;right:0;bottom:0;}
.slide-li li{float:left;width:20px;height:20px;line-height:20px;margin-left:1px;text-align:center;}
.op li{color:#000;background:#fff;opacity:0.6;filter:alpha(opacity=60);}
.op li.cur{color:#fff;background:#44ABAF;}